.loading-progress {
  display: block;
  margin-bottom: 12px;
}

pdf-viewer {
  display: block;
  width: 100%;
  height: 75dvh;

  ::ng-deep .ng2-pdf-viewer-container {
    overflow-x: hidden;

    &::-webkit-scrollbar {
      background-color: var(--lcc-color--documentViewer-scrollbarBackground) !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--lcc-color--documentViewer-scrollbar) !important;
    }

    .page {
      margin: 0;

      .textLayer {
        background-color: var(--lcc-color--documentViewer-pageBackground) !important;
      }
    }
  }
}
