<div class="banner-image-container">
  <lcc-image [image]="bannerImage" />
  <h3 class="title lcc-truncate-max-2-lines">
    {{ article.title | truncateByChars: 120 }}
  </h3>
</div>

<div class="modification-info-container">
  <div class="author-container">
    <div class="author-row">
      @let author =
        memberProfiles.nameFor(
          article.modificationInfo.createdByNumber,
          article.modificationInfo.createdBy
        );
      <ea-avatar
        size="xs"
        [alt]="author"
        [src]="memberProfiles.avatarUrlFor(article.modificationInfo.createdByNumber)"
        [initials]="initialsFor(author)" />
      <span class="author-name">
        {{ author }}
      </span>
    </div>
    <span class="date-created">
      {{ article.modificationInfo.dateCreated | formatDate: 'short' }}
    </span>
  </div>

  <div class="editor-container">
    @if (article.modificationInfo | wasEdited) {
      <span class="updated">last updated</span>
      <div class="modification-details">
        @let editor =
          memberProfiles.nameFor(
            article.modificationInfo.lastEditedByNumber,
            article.modificationInfo.lastEditedBy
          );
        <ea-avatar
          class="editor-avatar"
          size="xs"
          [alt]="editor"
          [src]="memberProfiles.avatarUrlFor(article.modificationInfo.lastEditedByNumber)"
          [initials]="initialsFor(editor)" />
        <span class="editor-name">
          {{ editor }}
        </span>
        <span class="vertical-spacer">|</span>
        <span class="date-last-edited">
          {{ article.modificationInfo.dateLastEdited | formatDate: 'short' }}
        </span>
      </div>
    }
  </div>
</div>

<hr />

<div class="markdown-container">
  <lcc-markdown-renderer
    [data]="article.body"
    [images]="bodyImages"
    [isWideView]="isWideView">
  </lcc-markdown-renderer>
</div>
