@if (viewModel$ | async; as vm) {
  @if (vm.user) {
    <div class="user-info">
      <ea-avatar
        size="sm"
        alt="Your avatar"
        [src]="avatarSrc()"
        [initials]="initials()" />
      <div class="user-text">
        <span
          class="user-name lcc-truncate"
          [eaTooltip]="vm.user.firstName + ' ' + vm.user.lastName"
          [whenClipped]="true">
          {{ vm.user.firstName }} {{ vm.user.lastName }}
        </span>
        <span
          class="user-email lcc-truncate"
          [eaTooltip]="vm.user.email"
          [whenClipped]="true">
          {{ vm.user.email }}
        </span>
      </div>
    </div>
    <ea-divider class="menu-divider" />
  }

  <div class="menu-section">
    @if (vm.user) {
      <a
        eaButtonLink
        class="menu-button account"
        align="start"
        routerLink="/account"
        size="sm"
        variant="ghost"
        [fullWidth]="true"
        (click)="close.emit()">
        Account
      </a>
    }
    <a
      eaButtonLink
      class="menu-button website-changelog"
      align="start"
      routerLink="/website-changelog"
      size="sm"
      variant="ghost"
      [fullWidth]="true"
      (click)="close.emit()">
      Website Changelog
    </a>
  </div>
  <ea-divider class="menu-divider" />

  <div class="menu-section">
    <ea-switch
      class="menu-toggle theme-toggle"
      label="Dark mode"
      size="sm"
      [checked]="vm.isDarkMode"
      (changed)="onToggleTheme()" />
    <ea-switch
      class="menu-toggle wide-view-toggle"
      label="Wide view"
      size="sm"
      [checked]="vm.isWideView"
      (changed)="onToggleWideView()" />
    @if (isTouchDevice) {
      <ea-switch
        class="menu-toggle desktop-view-toggle"
        label="Desktop view"
        size="sm"
        [checked]="vm.isDesktopView"
        (changed)="onToggleDesktopView()" />
    }
    @if (vm.user) {
      <div class="menu-toggle safe-mode-toggle">
        <ea-switch
          label="Safe mode"
          size="sm"
          [checked]="vm.isSafeMode"
          [variant]="vm.isSafeMode ? 'default' : 'warning'"
          (changed)="onToggleSafeMode()" />
        @if (!vm.isSafeMode) {
          <ea-icon-alert-triangle
            class="safe-mode-warning"
            [eaTooltip]="safeModeWarningTooltipContent" />
        }
      </div>
    }
    @if (vm.hasAdminRights) {
      <ea-switch
        class="menu-toggle admin-controls-toggle"
        label="Admin controls"
        size="sm"
        [checked]="vm.showAdminControls"
        (changed)="onToggleAdminControls()" />
    }
  </div>
  <ea-divider class="menu-divider" />

  <div class="menu-section">
    @if (vm.user) {
      <ea-button
        class="menu-button admin-logout"
        align="start"
        size="sm"
        variant="ghost"
        [fullWidth]="true"
        [aria-label]="'Log out'"
        (clicked)="onLogout()">
        Log out
      </ea-button>
    } @else {
      <ea-button
        class="menu-button login"
        align="start"
        size="sm"
        variant="ghost"
        [fullWidth]="true"
        [aria-label]="'Log in'"
        (clicked)="onLogin()">
        Log in
      </ea-button>
    }
  </div>
}

<ng-template #safeModeWarningTooltipContent>
  <div class="safe-mode-warning-tooltip">
    <p class="warning-title">
      <ea-icon-alert-triangle class="warning-icon" />
      Safe mode is currently disabled
    </p>
    <p class="warning-message">
      Users' personal information such as emails and phone numbers are visible on screen
    </p>
  </div>
</ng-template>
