<lcc-page-header
  heading="City Champion"
  [icon]="pageIcon">
</lcc-page-header>

<section class="history-and-photos-section">
  <div class="history">
    <p>
      Every fall, chess players from around London and the surrounding region gather to
      compete for the title of <b>London Chess Champion</b>.
    </p>
    <p>
      <lcc-member-link name="Peter Murray" />
      won the inaugural tournament in 1967, and defended his title the following year.
      Since then, the trophy has changed hands over 20 times, with 18 different players
      crowned champion to date.
    </p>
    <p>
      The 2025 London Chess Championship took place between September and December 2025.
      Group A1 ended in a three-way tie for first place, resulting in a tiebreak playoff
      between
      <lcc-member-link name="Mike Harris" />
      (1917),
      <lcc-member-link name="Rene Bartar" />
      (2027) and defending champion
      <lcc-member-link name="Serhii Ivanchuk" />
      (2216). Ultimately it was Bartar who came out ahead to qualify for the final match
      against the winner from Group A2,
      <lcc-member-link name="Emilio Ramirez" />
      (2107).
    </p>
    <p>
      <b>
        <lcc-member-link name="Rene Bartar" />
        (2027)
      </b>
      went on to win the match convincingly with two wins and a draw, and an impressive
      performance rating of 2374. With that, London crowned its new chess champion!
    </p>
  </div>

  <lcc-photo-carousel [photos]="photos"></lcc-photo-carousel>
</section>

<section class="past-champions-section">
  <div class="standard-championship">
    <h3>Past champions</h3>
    <hr />
    <lcc-champions-table
      label="Past champions"
      footnote="Club formed c.1965"
      [championships]="standardChampionships"
      [trophy]="true" />
  </div>

  <div class="other-championships">
    <h3>Other championships</h3>
    <hr />
    <div class="tables-container">
      <lcc-expansion-panel class="junior-champions">
        <ng-container header>
          <h4>
            Past winners of
            <b>Junior Championship</b>
            (1996&ndash;2011, 2025&ndash;present)
          </h4>
        </ng-container>
        <lcc-champions-table
          label="Past junior champions"
          [championships]="juniorChampionships" />
      </lcc-expansion-panel>

      <lcc-expansion-panel class="active-champions">
        <ng-container header>
          <h4>
            Past winners of
            <b>Active Championship</b>
            (1994&ndash;2019, 2023&ndash;2024)
          </h4>
        </ng-container>
        <lcc-champions-table
          label="Past active champions"
          [championships]="activeChampionships" />
      </lcc-expansion-panel>

      <lcc-expansion-panel class="speed-champions">
        <ng-container header>
          <h4>Past winners of <b>Speed Championship</b> (1993&ndash;2019)</h4>
        </ng-container>
        <lcc-champions-table
          label="Past speed champions"
          footnote="* peak active rating (no longer maintained)"
          ratingNote="*"
          [championships]="speedChampionships" />
      </lcc-expansion-panel>
    </div>
  </div>
</section>
