<ea-data-table
  density="compact"
  [aria-label]="ariaLabel()"
  [clickable]="clickable()"
  [columns]="shownColumns()"
  [data]="data()"
  [hoverable]="hoverable()"
  [loading]="loading() || isSizing()"
  [loadingRowCount]="loadingRowCount()"
  [noDataText]="noDataText()"
  [nowrap]="true"
  [rowHref]="rowHref()"
  [sizingRows]="hiddenRows()"
  [sort]="sort()"
  [striped]="true"
  [trackBy]="trackBy"
  (rowActivate)="rowActivate.emit($event)"
  (rowContextMenu)="onRowContextMenu($event)"
  (sorted)="sorted.emit($event)">
  <ng-content
    select="ea-paginator"
    ngProjectAs="ea-paginator" />
</ea-data-table>

@if (isSizing()) {
  <ea-skeleton
    class="data-table__sizing-skeleton"
    height="100%"
    variant="rect"
    width="100%" />
}

@for (column of columns(); track column.key) {
  <ng-template
    let-row
    let-value="value"
    [lccDataTableCell]="column.key">
    <span class="data-table__cell">
      @if (column.cellTemplate) {
        <ng-container
          [ngTemplateOutlet]="column.cellTemplate"
          [ngTemplateOutletContext]="cellContext(row, value, column)" />
      } @else if (column.format) {
        {{ column.format(value) }}
      } @else {
        {{ value }}
      }
    </span>
  </ng-template>
}
