@use '../../../styles/abstracts/mixins' as *;

:host {
  --ea-dialog-body-padding: 0;
}

.album-name {
  font: inherit;
}

figure {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.image-container {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 0;
  background-color: var(--lcc-color--imageViewer-background);

  lcc-image {
    width: 100%;
    height: 100%;

    ::ng-deep img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .previous-image-button,
  .next-image-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.active {
      filter: brightness(1.5);
    }
  }

  .previous-image-button {
    left: 8px;
  }

  .next-image-button {
    right: 8px;
  }
}

figcaption {
  padding: 12px 24px 16px;
  font-size: 12px;
  text-align: center;

  @include respond-to('gt-md') {
    font-size: 14px;
  }

  @include respond-to('gt-lg') {
    font-size: 15px;
  }
}
