<ea-dialog
  width="2xl"
  (keydown)="onKeydown($event)"
  (keyup)="onKeyup($event)">
  <h3
    slot="header"
    class="album-name lcc-truncate">
    {{ album() }}
  </h3>

  @if (currentImage$ | async; as image) {
    <figure [adminControls]="isAdmin() ? getAdminControlsConfig(image) : null">
      <div class="image-container">
        <lcc-image
          [image]="image"
          (loaded)="displayedCaption.set(image.caption)" />

        <ea-button
          class="previous-image-button"
          aria-label="Previous image"
          eaTooltip="Previous image"
          variant="secondary"
          [class.active]="isPreviousImageButtonActive()"
          [disabled]="images().length === 1"
          [icon]="previousIcon"
          (clicked)="onPreviousImage()" />

        <ea-button
          class="next-image-button"
          aria-label="Next image"
          eaTooltip="Next image"
          variant="secondary"
          [class.active]="isNextImageButtonActive()"
          [disabled]="images().length === 1"
          [icon]="nextIcon"
          (clicked)="onNextImage()" />
      </div>

      <figcaption class="image-caption lcc-truncate">{{ displayedCaption() }}</figcaption>
    </figure>
  }
</ea-dialog>
