@use '../../../styles/abstracts/mixins' as *;

:host {
  display: block;
  width: 100%;
}

.file-and-preview-container {
  display: flex;
  flex-direction: row;
  gap: 8px;

  .choose-file-button {
    align-self: flex-end;
  }
}

.image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  border-radius: var(--radius-md);
  background-color: var(--lcc-color--general-imageBackdrop);

  &.full-span {
    grid-column: 1 / -1;
  }

  img {
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;
  }

  lcc-image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;

    ::ng-deep img {
      object-fit: contain;
      max-height: 300px;
    }
  }
}

.albums-grid {
  display: grid;
  align-items: center;
  gap: 0 16px;
  grid-template-columns: auto;
  grid-auto-rows: minmax(42px, auto);

  @include respond-to('gt-md') {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.new-album {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;

  .new-album-input {
    flex: 1;
    min-width: 0;
  }
}

.new-album-label {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}
