:host {
  display: block;
  width: 100%;
}

.image-frame {
  overflow: hidden;
  aspect-ratio: 3 / 2;
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--general-imageBackdrop);

  img,
  lcc-image {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: contain;
  }

  lcc-image ::ng-deep img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
