<lcc-data-table
  class="events"
  aria-label="Events"
  [columns]="columns()"
  [fullWidth]="true"
  [data]="rows()"
  [loading]="loading()"
  [loadingRowCount]="loadingRowCount()"
  [sizingRows]="sizingRows()">
  @if (options(); as options) {
    <ea-paginator
      align="center"
      size="sm"
      [page]="options.page"
      [pageSize]="options.pageSize"
      [pageSizeOptions]="pageSizes"
      [showAllOption]="true"
      [showRangeLabel]="filteredCount() !== null"
      [totalItems]="filteredCount() ?? 0"
      (changed)="onPageChanged($event)" />
  }
</lcc-data-table>

<ng-template
  #dateCell
  let-row>
  <div
    class="events__date"
    [class.today-scroll-point]="row.id === todayRowId()"
    [class.events__today]="
      row.id === todayRowId() && options()?.filters?.showPastEvents?.value
    ">
    <div>{{ row.events[0].eventDate | formatDate: 'short day-of-week' }}</div>
    <div>
      <b>{{ row.events[0].eventDate | formatDate: 'short month-day' }}</b>
    </div>
    <div>{{ row.events[0].eventDate | formatDate: 'year' }}</div>
  </div>
</ng-template>

<ng-template #datePlaceholder>
  <div class="events__date">
    <ea-skeleton
      class="events__date-placeholder"
      variant="circle"
      width="100%"
      height="100%" />
  </div>
</ng-template>

<ng-template #entryPlaceholder>
  <div class="events__entries">
    <div class="events__entry">
      <div class="events__main">
        <div class="events__heading">
          <span class="events__type events__type--placeholder">
            <lcc-text-skeleton width="42ch" />
          </span>
        </div>
        <p class="events__details">
          <lcc-text-skeleton width="54ch" />
        </p>
      </div>

      @if (showModificationInfo()) {
        <aside class="events__edited">
          <div>
            <lcc-text-skeleton width="30ch" />
          </div>
          <div>
            <lcc-text-skeleton width="27ch" />
          </div>
        </aside>
      }
    </div>
  </div>
</ng-template>

<ng-template
  #entryCell
  let-row>
  <div class="events__entries">
    @for (event of row.events; track event.id) {
      <div class="events__entry">
        <div
          class="events__main"
          [adminControls]="isAdmin() ? getAdminControlsConfig(event) : null">
          <div class="events__heading">
            <h3 class="events__title">
              @if (event.articleId) {
                <a
                  class="events__article-link lcc-link"
                  [routerLink]="'/article/view/' + event.articleId"
                  [innerHTML]="event.title | highlight: search()">
                </a>
              } @else {
                <span [innerHTML]="event.title | highlight: search()"></span>
              }
            </h3>
            <div
              class="events__type"
              [class]="'events__type--' + (event.type | kebabCase)">
              <span [innerHTML]="event.type | highlight: search()"></span>
              @if (event.type === 'championship') {
                <ea-icon-trophy class="events__championship-icon" />
              }
            </div>
          </div>

          <p
            class="events__details"
            [innerHTML]="event.details.replaceAll('\\n', ' \n ') | highlight: search()">
          </p>
        </div>

        @if (showModificationInfo()) {
          <aside class="events__edited">
            <div>
              Event created
              {{ event.modificationInfo.dateCreated | formatDate: 'short no-time' }}
            </div>
            <div>
              Last edited
              {{ event.modificationInfo.dateLastEdited | formatDate: 'short no-time' }}
            </div>
          </aside>
        }
      </div>
    }
  </div>
</ng-template>
