<ea-card [fullWidth]="true">
  <div class="lcc-form-card">
    <form
      class="lcc-form"
      [formGroup]="form"
      (focusout)="onFieldLeft()"
      (ngSubmit)="onSubmit()">
      <div class="lcc-form-fields">
        <label
          for="album-input"
          class="lcc-required-field">
          Album title:
        </label>
        <ea-input
          formControlName="album"
          [errorMessages]="errorMessages"
          [id]="'album-input'"
          [maxLength]="120"
          [required]="true" />
      </div>

      <div class="images-section">
        @if (form.controls.existingImages.length) {
          <ea-radio-group
            class="images-group"
            aria-label="Album cover"
            size="sm"
            [value]="coverImageId"
            (changed)="onSetAlbumCover($event)">
            <div
              formArrayName="existingImages"
              class="images-grid">
              @for (
                imageControl of form.controls.existingImages.controls;
                track imageControl;
                let i = $index
              ) {
                <div
                  class="lcc-form-fields"
                  [formGroupName]="i">
                  <div class="image-container full-span">
                    <lcc-image [image]="imageEntities()[i].image" />
                  </div>

                  <div class="cover-image-input-container">
                    <ea-radio
                      label="Use as album cover"
                      [id]="'existing-cover-radio-' + i"
                      [value]="imageControl.controls.id.value" />
                  </div>

                  <label
                    [for]="'existing-caption-input-' + i"
                    class="lcc-required-field">
                    Caption:
                  </label>
                  <ea-input
                    formControlName="caption"
                    [errorMessages]="errorMessages"
                    [id]="'existing-caption-input-' + i"
                    [maxLength]="120"
                    [required]="true" />

                  <label
                    [for]="'existing-ordinality-input-' + i"
                    class="lcc-required-field">
                    Ordinality:
                  </label>
                  <ea-input
                    class="album-ordinality-input"
                    formControlName="albumOrdinality"
                    [errorMessages]="errorMessages"
                    [id]="'existing-ordinality-input-' + i"
                    [maxLength]="2"
                    [required]="true" />
                </div>
              }
            </div>
          </ea-radio-group>
        }
      </div>

      @if (album()) {
        <ea-divider class="lcc-form-divider" />
        <h3 class="new-images-header">New images</h3>
      }

      <div class="control-buttons-container">
        <ea-file-uploader
          class="choose-files-button"
          accept="image/*"
          buttonLabel=""
          size="sm"
          variant="button"
          [aria-label]="chooseFilesLabel"
          [buttonIcon]="imagePlusIcon"
          [eaTooltip]="chooseFilesLabel"
          [formControl]="fileChoice"
          [multiple]="true"
          [showConstraints]="false"
          [showFileList]="false"
          (rejected)="onRejectFiles()" />
      </div>

      <div class="images-section">
        @if (form.controls.newImages.length) {
          <ea-radio-group
            class="images-group"
            aria-label="Album cover"
            size="sm"
            [value]="coverImageId"
            (changed)="onSetAlbumCover($event)">
            <div
              formArrayName="newImages"
              class="images-grid">
              @for (
                imageControl of form.controls.newImages.controls;
                track imageControl;
                let i = $index
              ) {
                <div
                  class="lcc-form-fields"
                  [formGroupName]="i">
                  <div class="image-container full-span">
                    <img
                      alt="New image preview"
                      [src]="newImageDataUrls()[imageControl.controls.id.value]" />
                    <ea-button
                      class="remove-image-button"
                      eaTooltip="Remove image"
                      size="sm"
                      variant="ghost"
                      [aria-label]="'Remove ' + imageControl.controls.filename.value"
                      [icon]="removeIcon"
                      (clicked)="onRemoveNewImage(imageControl.getRawValue(), i)" />
                  </div>

                  <div class="album-cover-input-container full-span">
                    <ea-radio
                      label="Use as album cover"
                      [id]="'new-cover-radio-' + i"
                      [value]="imageControl.controls.id.value" />
                  </div>

                  <label
                    [for]="'new-caption-input-' + i"
                    class="lcc-required-field">
                    Caption:
                  </label>
                  <ea-input
                    formControlName="caption"
                    [errorMessages]="errorMessages"
                    [id]="'new-caption-input-' + i"
                    [maxLength]="120"
                    [required]="true" />

                  <label
                    [for]="'new-ordinality-input-' + i"
                    class="lcc-required-field">
                    Ordinality:
                  </label>
                  <ea-input
                    class="album-ordinality-input"
                    formControlName="albumOrdinality"
                    [errorMessages]="errorMessages"
                    [id]="'new-ordinality-input-' + i"
                    [maxLength]="2"
                    [required]="true" />
                </div>
              }
            </div>
          </ea-radio-group>
        }
      </div>

      <aside class="lcc-required-fields-legend">Required fields</aside>

      <ea-divider class="lcc-form-divider" />

      @if (mostRecentModificationInfo; as info) {
        <lcc-modification-info [info]="info" />
      }

      <div class="lcc-form-actions">
        <ea-button
          class="lcc-form-actions__restore restore-button"
          size="sm"
          variant="ghost"
          [disabled]="!hasUnsavedChanges()"
          [icon]="restoreIcon"
          (clicked)="onRestore()">
          Revert
        </ea-button>
        <div class="lcc-form-actions__primary">
          <ea-button
            class="cancel-button"
            size="sm"
            variant="secondary"
            [fullWidth]="true"
            [uppercase]="true"
            (clicked)="onCancel()">
            Cancel
          </ea-button>
          <ea-button
            class="submit-button"
            size="sm"
            type="submit"
            [disabled]="form.invalid || !hasUnsavedChanges()"
            [fullWidth]="true"
            [uppercase]="true">
            {{ album() ? 'Update album' : 'Create album' }}
          </ea-button>
        </div>
      </div>
    </form>
  </div>
</ea-card>
