@let controls = config();

<ea-popover
  scrollBehavior="close"
  [anchor]="anchor()"
  [aria-label]="'Admin controls for ' + controls.itemName"
  [contextMenu]="true"
  [offset]="0"
  [open]="true"
  [placement]="popoverPlacement()"
  (closeRequested)="closed.emit()">
  <!-- Any control used ends the controls, as a click anywhere else does -->
  <div
    class="admin-controls"
    [style.--button-size.px]="controls.buttonSize"
    (click)="closed.emit()">
    @if (controls.bookmarkCb && (controls.bookmarked | isDefined)) {
      <ea-button
        class="admin-control-button bookmark-button"
        variant="secondary"
        [aria-label]="
          (controls.bookmarked ? 'Remove bookmark from ' : 'Bookmark ') +
          controls.itemName
        "
        [eaTooltip]="bookmarkTooltipContent"
        [icon]="bookmarkIcon"
        (clicked)="controls.bookmarkCb()" />
    }

    @if (controls.editPath) {
      <a
        class="admin-control-button edit-button"
        [class.disabled]="controls.isEditDisabled"
        [attr.aria-label]="'Edit ' + controls.itemName"
        [eaTooltip]="editTooltipContent"
        [rel]="controls.editInNewTab ? 'noopener noreferrer' : undefined"
        [target]="controls.editInNewTab ? '_blank' : undefined"
        [routerLink]="
          controls.isEditDisabled ? undefined : (controls.editPath | routerLink)
        ">
        <ea-icon-edit class="edit-icon" />
      </a>
    }

    @if (showDeleteButton) {
      <ea-button
        class="admin-control-button delete-button"
        variant="secondary"
        [aria-label]="'Delete ' + controls.itemName"
        [disabled]="controls.isDeleteDisabled ?? false"
        [eaTooltip]="deleteTooltipContent"
        [icon]="deleteIcon"
        (clicked)="controls.deleteCb()" />
    }
  </div>
</ea-popover>

<ng-template #bookmarkTooltipContent>
  <span>{{ controls.bookmarked ? 'Remove bookmark from' : 'Bookmark' }}</span>
  <i class="tooltip-item-name">{{ controls.itemName }}</i>
</ng-template>

<ng-template #editTooltipContent>
  @if (controls.isEditDisabled) {
    <i>{{ controls.editDisabledReason }}</i>
  } @else {
    <span>Edit</span>
    <i class="tooltip-item-name">{{ controls.itemName }}</i>
  }
</ng-template>

<ng-template #deleteTooltipContent>
  @if (controls.isDeleteDisabled) {
    <i>{{ controls.deleteDisabledReason }}</i>
  } @else {
    <span>Delete</span>
    <i class="tooltip-item-name">{{ controls.itemName }}</i>
  }
</ng-template>
