<div class="labeled-field">
  <lcc-field-label-with-help
    text="Lichess username"
    forId="lichess-username-input"
    [icon]="lichessLogo"
    [helpTooltip]="lichessTooltip" />
  <ea-input
    id="lichess-username-input"
    [maxLength]="20"
    [errorMessages]="lichessErrorMessages"
    [formControl]="lichessUsername()" />
</div>

<div class="labeled-field">
  <lcc-field-label-with-help
    text="Chess.com username"
    forId="chess-com-username-input"
    [icon]="chessComLogo"
    [helpTooltip]="chessComTooltip" />
  <ea-input
    id="chess-com-username-input"
    [maxLength]="25"
    [errorMessages]="chessComErrorMessages"
    [formControl]="chessComUsername()" />
</div>

<ng-template #lichessTooltip>
  <div>
    <em>Optional.</em>
    Your username is used to link to your profile page on Lichess.
  </div>
</ng-template>

<ng-template #chessComTooltip>
  <div>
    <em>Optional.</em>
    Your username is used to link to your profile page on Chess.com.
  </div>
</ng-template>
