<ea-input
  class="username-field"
  id="lichess-username-input"
  label="Lichess username"
  [errorMessages]="lichessErrorMessages"
  [formControl]="lichessUsername()"
  [labelHelp]="lichessHelp"
  [labelIcon]="lichessLogo"
  [maxLength]="20" />

<ea-input
  class="username-field"
  id="chess-com-username-input"
  label="Chess.com username"
  [errorMessages]="chessComErrorMessages"
  [formControl]="chessComUsername()"
  [labelHelp]="chessComHelp"
  [labelIcon]="chessComLogo"
  [maxLength]="25" />

<ng-template #lichessHelp>
  <em>Optional.</em>
  Your username is used to link to your profile page on Lichess.
</ng-template>

<ng-template #chessComHelp>
  <em>Optional.</em>
  Your username is used to link to your profile page on Chess.com.
</ng-template>
