<lcc-data-table
  [aria-label]="label()"
  [columns]="columns()"
  [data]="rows()"
  [fullWidth]="true"
  [sizingRows]="sizingRows()"
  [sort]="sort()"
  (sorted)="onSorted($event)" />

<ng-template
  #cell
  let-row
  let-column="column">
  @if (row.heading; as heading) {
    @if (column.key === firstColumnKey()) {
      <span
        class="markdown-table__heading-sizer"
        [class.markdown-table__heading-sizer--sorts]="heading.sortable">
        {{ heading.label }}
      </span>
    }
  } @else {
    <span [innerHTML]="row.html[column.key]"></span>
  }
</ng-template>
