<lcc-page-header
  heading="Documents"
  [icon]="pageIcon">
</lcc-page-header>

<lcc-data-table
  class="documents"
  aria-label="Documents"
  [clickable]="true"
  [columns]="columns()"
  [fullWidth]="isWideView()"
  [data]="rows"
  [rowHref]="rowHref"
  [sort]="sort()"
  (rowActivate)="onOpenDocument($event)"
  (sorted)="onSorted($event)" />

<ng-template
  #documentCell
  let-row>
  <span class="documents__document">
    <a
      class="documents__label"
      [fragment]="row.document.fileName"
      [routerLink]="currentPath">
      <ea-icon-file-text class="documents__icon" />
      <span class="documents__title">{{ row.title }}</span>
    </a>

    <a
      [href]="'assets/documents/' + row.document.fileName"
      class="documents__download"
      [download]="row.title"
      [tooltip]="tooltipContent"
      (click)="$event.stopPropagation()">
      <ea-icon-download class="documents__icon" />
    </a>

    <ng-template #tooltipContent>
      <span>Download</span>
      <i class="tooltip-item-name">{{ row.title }}</i>
    </ng-template>
  </span>
</ng-template>

<ng-template
  #dateCell
  let-value="value">
  {{ value | formatDate: 'short no-time' }}
</ng-template>
