@use '../../../styles/abstracts/mixins' as *;

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.event-date {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text-primary);

  .calendar-icon {
    @include icon-size(16px);
  }
}

.event-details {
  white-space: pre-line;
}
