<div class="new-password">
  <ea-input
    label="New password"
    type="password"
    autocomplete="new-password"
    [autofocus]="autofocus()"
    [errorMessages]="newPasswordErrorMessages"
    [formControl]="group().controls.newPassword" />
  @if (state().newPassword) {
    <lcc-password-requirements [password]="state().newPassword" />
  }
</div>

<ea-input
  label="Confirm new password"
  type="password"
  autocomplete="new-password"
  [errorMsg]="state().passwordsMismatch ? 'Passwords do not match' : ''"
  [formControl]="group().controls.confirmPassword" />
