<section class="main-section">
  <div class="main-content">
    <div class="branding-and-socials">
      <a
        class="logo"
        routerLink="">
        <img
          src="assets/lcc-logo.svg"
          width="40"
          height="40"
          loading="lazy"
          alt="London Chess Club" />
      </a>
      <div class="club-name">
        London Chess Club<br />
        <a
          class="website-version lcc-link"
          routerLink="/website-changelog"
          [fragment]="'v' + CURRENT_VERSION">
          v{{ CURRENT_VERSION }}
        </a>
      </div>

      <div class="socials">
        <a
          href="https://bit.ly/LCC-NoticeBoard"
          class="whatsapp"
          rel="noopener noreferrer"
          target="_blank"
          [eaTooltip]="whatsappTooltipContent">
          <div class="image-container">
            <img
              src="assets/club-link-icons/whatsapp.svg"
              width="28"
              height="28"
              alt="WhatsApp" />
          </div>
        </a>

        <a
          href="https://www.instagram.com/londonchessclub_?igsh=MWxqM25sMDdzemV5aA%3D%3D&utm_source=qr"
          class="instagram"
          rel="noopener noreferrer"
          target="_blank"
          [eaTooltip]="instagramTooltipContent">
          <div class="image-container">
            <img
              src="assets/club-link-icons/instagram.svg"
              width="29"
              height="29"
              alt="Instagram" />
          </div>
        </a>

        <a
          href="https://www.chess.com/club/london-chess-club-canada"
          class="chesscom"
          rel="noopener noreferrer"
          target="_blank"
          [eaTooltip]="chesscomTooltipContent">
          <div class="image-container">
            <img
              src="assets/club-link-icons/chesscom.svg"
              width="21"
              height="28"
              alt="Chess.com" />
          </div>
        </a>

        <a
          href="mailto:welcome@londonchess.ca"
          class="email"
          rel="noopener noreferrer"
          target="_blank"
          [eaTooltip]="emailTooltipContent"
          [maxWidth]="undefined">
          <div class="image-container">
            <img
              src="assets/club-link-icons/email.svg"
              width="28"
              height="28"
              alt="Email" />
          </div>
        </a>
      </div>
    </div>

    <nav
      aria-label="Site"
      class="site-links">
      <section class="about-us">
        <h2>About us</h2>
        <ea-divider />
        <a
          class="lcc-link"
          routerLink="/faq">
          FAQ
        </a>
        <a
          class="lcc-link"
          routerLink="/members">
          Members (Ratings table)
        </a>
        <a
          class="lcc-link"
          routerLink="/city-champion">
          London Chess Champion
        </a>
        <a
          class="lcc-link"
          routerLink="/lifetime-achievement-awards">
          Lifetime Achievement Awards
        </a>
      </section>

      <section class="club-events">
        <h2>Club events</h2>
        <ea-divider />
        <a
          class="lcc-link"
          routerLink="/schedule">
          Schedule (Upcoming events)
        </a>
        <a
          class="lcc-link"
          routerLink="/articles">
          Articles
        </a>
        <a
          class="lcc-link"
          routerLink="/regional-clubs">
          Regional Clubs
        </a>
      </section>

      <section class="archives">
        <h2>Archives</h2>
        <ea-divider />
        <a
          class="lcc-link"
          routerLink="/photo-gallery">
          Photo Gallery
        </a>
        <a
          class="lcc-link"
          routerLink="/game-archives">
          Game Archives
        </a>
        <a
          class="lcc-link"
          routerLink="/tournaments">
          Tournaments
        </a>
      </section>

      <section class="documents">
        <h2>Documents</h2>
        <ea-divider />
        <a
          class="lcc-link"
          routerLink="/documents"
          fragment="lcc-code-of-conduct.pdf">
          Code of Conduct
        </a>
        <a
          class="lcc-link"
          routerLink="/documents"
          fragment="lcc-bylaws.pdf">
          Club Bylaws
        </a>
        <a
          class="lcc-link"
          routerLink="/documents"
          fragment="lcc-membership-fees-2025-to-2028.pdf">
          Membership Fees
        </a>
      </section>

      <section class="website">
        <h2>Website</h2>
        <ea-divider />
        <a
          class="lcc-link"
          routerLink="/website-changelog">
          Website Changelog
        </a>
        <a
          href="https://github.com/mwiraszka/london-chess#readme"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          <span>Source code</span>
          <ea-icon-external-link />
        </a>
        <a
          href="mailto:michal@londonchess.ca?subject=LCC%20Website%20-%20Bug%20Report"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          <span>Report a bug</span>
          <ea-icon-external-link />
        </a>
        <a
          href="https://buymeacoffee.com/michalwiraszka"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          <span>Support the site</span>
          <ea-icon-external-link />
        </a>
        <ea-eagami-wordmark
          class="wordmark"
          variant="byline"
          layout="inline"
          [size]="13" />
      </section>
    </nav>
  </div>
</section>

<small class="copyright-notice">
  <span>Copyright &copy; {{ CURRENT_YEAR }} <b>London Chess Club</b></span>
  <ea-divider
    class="copyright-divider"
    orientation="vertical" />
  <span>All Rights Reserved.</span>
</small>

<ng-template #whatsappTooltipContent>
  <span class="social-tooltip">
    <span class="social-tooltip__lead">Club noticeboard on</span>
    <span class="social-tooltip__destination">WhatsApp</span>
  </span>
</ng-template>

<ng-template #instagramTooltipContent>
  <span class="social-tooltip">
    <span class="social-tooltip__lead">Follow us on</span>
    <span class="social-tooltip__destination">Instagram</span>
  </span>
</ng-template>

<ng-template #chesscomTooltipContent>
  <span class="social-tooltip">
    <span class="social-tooltip__lead">Join our club page on</span>
    <span class="social-tooltip__destination">chess.com</span>
  </span>
</ng-template>

<ng-template #emailTooltipContent>
  <span class="social-tooltip">
    <span class="social-tooltip__lead">Email us at</span>
    <span class="social-tooltip__destination">welcome&#64;londonchess.ca</span>
  </span>
</ng-template>
