<lcc-data-table
  class="members"
  aria-label="Members"
  noDataText="No members match these filters."
  [clickable]="!showsDetails()"
  [columns]="columns()"
  [data]="rows()"
  [loading]="loading()"
  [loadingRowCount]="options().pageSize"
  [rowHref]="rowHref()"
  [sizingRows]="sizingRows"
  [sort]="sortState()"
  (rowActivate)="onOpenProfile($event)"
  (sorted)="onSorted($event)">
  <ea-paginator
    size="sm"
    [page]="options().page"
    [pageSize]="options().pageSize"
    [pageSizeOptions]="pageSizes"
    [showRangeLabel]="filteredCount() !== null"
    [totalItems]="filteredCount() ?? 0"
    (changed)="onPageChanged($event)" />
</lcc-data-table>

@if (isAdmin() && isSafeMode()) {
  <lcc-safe-mode-notice entity="members'"></lcc-safe-mode-notice>
}

<ng-template
  #nameCell
  let-row>
  <span
    class="members__name"
    [class.members__name--inactive]="!row.member.isActive"
    [tooltip]="row.member.isActive ? null : 'Inactive member'">
    <ng-container
      *ngTemplateOutlet="
        memberName;
        context: { $implicit: row, text: row.firstName + ' ' + row.lastName }
      " />
    @if (isCityChampion(row.member)) {
      <a
        class="members__champion-link"
        routerLink="/city-champion"
        tooltip="2025 City Champion">
        <ea-icon-trophy class="members__champion-icon" />
      </a>
    }
  </span>
</ng-template>

<ng-template
  #firstNameCell
  let-row>
  <span
    class="members__name"
    [class.members__name--inactive]="!row.member.isActive"
    [tooltip]="row.member.isActive ? null : 'Inactive member'">
    @if (isCityChampion(row.member)) {
      <a
        class="members__champion-link"
        routerLink="/city-champion"
        tooltip="2025 City Champion">
        <ea-icon-trophy class="members__champion-icon" />
      </a>
    }
    <ng-container
      *ngTemplateOutlet="memberName; context: { $implicit: row, text: row.firstName }" />
  </span>
</ng-template>

<ng-template
  #lastNameCell
  let-row>
  <ng-container
    *ngTemplateOutlet="memberName; context: { $implicit: row, text: row.lastName }" />
</ng-template>

<ng-template
  #memberName
  let-row
  let-text="text">
  @if (row.member.number !== null) {
    <a
      class="members__profile-link"
      [routerLink]="['/members', row.member.number]"
      [innerHTML]="text | highlight: options().search">
    </a>
  } @else {
    <span [innerHTML]="text | highlight: options().search"></span>
  }
</ng-template>

<ng-template
  #ratingCell
  let-row>
  {{ row.member.rating }}
</ng-template>

<ng-template
  #peakRatingCell
  let-row>
  {{ row.member.peakRating }}
</ng-template>

<ng-template
  #highlightCell
  let-value="value">
  <span [innerHTML]="value | highlight: options().search"></span>
</ng-template>

<ng-template
  #dateCell
  let-value="value">
  {{ value | formatDate: 'short no-time' }}
</ng-template>

<ng-template
  #actionsCell
  let-row>
  <span class="members__actions">
    <ea-button
      variant="ghost"
      size="sm"
      ariaLabel="Edit"
      [icon]="editIcon"
      (clicked)="onEditMember(row)" />
    <ea-button
      variant="ghost"
      size="sm"
      ariaLabel="Delete"
      [icon]="deleteIcon"
      (clicked)="onDeleteMember(row)" />
  </span>
</ng-template>
