@use '../../../styles/abstracts/mixins' as *;

:host {
  display: block;
  width: 100%;
  max-width: 800px;
}

.club-card {
  display: flex;
  min-height: 250px;
  font-size: 16px;
  line-height: 20px;
  color: var(--lcc-color--homePage-primaryText);

  @include respond-to('lt-md') {
    flex-direction: column;
  }
}

.club-info {
  width: 100%;
  padding: 16px 32px;
}

.club-divider {
  display: block;
  margin: 4px 0 16px;
}

.club-details {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 16px 32px;
  color: var(--lcc-color--homePage-secondaryText);
}

.address {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  .map-icon {
    @include icon-size(24px);
  }
}

.schedule {
  min-width: 200px;
  white-space: pre-line;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  min-width: 200px;

  .email-icon {
    @include icon-size(16px);
  }

  .external-link-icon {
    @include icon-size(16px);
    @include link-icon-lift;

    margin-left: 6px;
  }
}

lcc-club-map {
  display: block;

  @include respond-to('lt-md') {
    flex: none;
    height: 300px;
  }
}
